*{
    margin:5px;
    padding:0;
}


#hero{
    display: flex;
    flex-direction: column;
    width:75%;
}

#hero > .icon {
   align-self: center;

}



.projectcard{
    display: flex;
    flex-direction: row;

}

img {
    width:50%;
    height: 200px;
}

.description{
    display: flex;
    flex-direction: column;
    width: 50%;
    height:200px;
  
}

.description > p{font-size: small;}
.description > .icon {
   align-self: flex-end;
    
 }


.toolkit,.sociallinks,.navbar{
     display: flex;
     justify-content: space-between;
     list-style:none 
    }

#conctact,#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#emailform{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






